LunaBot/SecretStrings.Designer.cs
LunaBot/SecretStrings.resx
LunaBot/bin
LunaBot/obj
LunaBot/Migrations
packages
.vs/LunaBot/v15/.suo
*.suo
/.vs/LunaBot/v15/sqlite3
/.vs/LunaBot/v15/Server/sqlite3
log.txt